
body {
    font-family: 'Montserrat', sans-serif;
	background: #f1fbff;
    h1,h2,h3{
        text-align:center ;padding: 2% 2% 2%;
        color: $gris;
        
      
    }
    a:link, a:visited,  a:hover, a:active{
        color: #ffffff;
        text-decoration: none;
}
}
 .fixedbar{
    padding-bottom: 5%;

 }