main{
    font-size: 110%;
    text-align: justify; 
 }
    .preguntas{
 font-size: 90%;
 text-align: justify;
 max-width: 80%;
 padding-left: 20%;
 padding-bottom: 10%;
    }
    .testimonios{
      @extend .preguntas
    }

