//mapa contenedor de variables con resoluciones de pantalla
$breakpoints: (
    sm: 980px,
    md: 768px,
    lg: 560px,
    xs: 470px
);

// Mixin que implementa los diferentes breakpoints inidicados en el mapa
@mixin responsive($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }

}
    

// Breakpoints para darle responsive al navbar, banner principal y agenda//
//Ancho 980px/
@include responsive(sm) {
body {
    font-family: 'Montserrat', sans-serif;
	background: #f1fbff;
    h1,h2,h3{
        text-align:center ;padding: 7% 2% 2%;
        color: $gris;
    }
    p{
        font-size: 80%;
    }
    }
    //Navbar//
    .text {
        color: #f47373;
        font-size: 110%;
        font-weight: bold;
        letter-spacing: 0px;
        padding: 8px;
    }
    
    .card{
        margin-bottom: 3%;
        p {
            padding: 0%;
        }
          
    }


    .img-area img {
        width: 100%;
    }

    //Toggle del navbar//
    .navbar-brand {
        display: none;
    }

    .ventajas {
        border: 2px solid $cyan;
        border-radius: 3%;

        li p {
            padding-top: 10%;
            font-size: 85%;
        }
    }

}

//Ancho 768px//
@include responsive(md) {
    body {
        font-family: 'Montserrat', sans-serif;
        background: #f1fbff;
        h1,h2,h3{
            text-align:center ;padding: 10% 2% 2%;
            color: $gris;
        }
      
        }
    header p{
        font-size: 50%;
    }
    .carousel-caption {
        font-size: 70%;
    }

    .carousel-caption p {
        font-size: 100%;
    }

    .card {
        margin-bottom: 4%;
    }

    .ventajas {
        flex-direction: column;
        border: 2px solid $cyan;
        border-radius: 3%;

        li p {
            padding: 0% 0% 3%;
            font-size: 90%;
        }
    }

}

//Ancho  560px// 
@include responsive(xs) {
    body {
        font-family: 'Montserrat', sans-serif;
        background: #f1fbff;
        h1,h2,h3{
            text-align:center ;padding: 20% 2% 2%;
            color: $gris;
        }
        }
    .carousel-caption {
        font-size: 80%;
    }

    .carousel-caption p {
        font-size: 100%;
    }

    .ventajas {
        flex-direction: column;
        border: 2px solid $cyan;
        border-radius: 3%;
    }
}

//Ancho  470px// 
@include responsive(xs) {

    .carousel-caption {
        font-size: 100%;
    }

    .carousel-caption p {
        font-size: 60%;
    }

}
@media screen and (max-height: 740px) {
    .carousel-caption {
      font-size: 70%; }
    .carousel-caption p {
      font-size: 60%; } }