//mapa contenedor de variables con resoluciones de pantalla
$breakpoints: (
    sm: 980px,
    md: 768px,
    lg: 480px,
    xs: 470px
);

// Mixin que implementa los diferentes breakpoints inidicados en el mapa
@mixin responsive($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }

}

// Breakpoints para darle responsive al navbar, banner principal y agenda//
//Ancho 980px/
@include responsive(sm) {

    //Navbar//
    .text {
        color: #f47373;
        font-size: 110%;
        font-weight: bold;
        letter-spacing: 0px;
        padding: 8px;
    }

    .card {
        margin-bottom: 3%;

        p {
            padding: 0%;
        }
    }

    .img-area img {
        width: 100%;
    }

    //Toggle del navbar//
    .navbar-brand {
        display: none;
    }

    .ventajas {
        border: 2px solid $cyan;
        border-radius: 3%;

        li p {
            padding-top: 10%;
            font-size: 85%;
        }
    }
}

//Ancho 768px//
@include responsive(md) {

    .carousel-caption {
        font-size: 90%;
    }

    .carousel-caption p {
        font-size: 120%;
    }

    .card {
        margin-bottom: 4%;
    }

    .ventajas {
        flex-direction: column;
        border: 2px solid $cyan;
        border-radius: 3%;

        li p {
            padding: 0% 0% 3%;
            font-size: 90%;
        }
    }

}

//Ancho  480px// 
@include responsive(xs) {

    .carousel-caption {
        font-size: 80%;
    }

    .carousel-caption p {
        font-size: 120%;
    }

    .ventajas {
        flex-direction: column;
        border: 2px solid $cyan;
        border-radius: 3%;
    }
}

//Ancho  470px// 
@include responsive(xs) {

    .carousel-caption {
        font-size: 100%;
    }

    .carousel-caption p {
        display: none;
    }

}