
.ventajas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 5%;
    font-size: 105%;
    @extend .menu              
}

.menu img{
padding-bottom: 2%;    
}
.redes li a,a:hover,a:before{    
    font-weight: 400;
    color: $rojo;  
}
.redes{ 
    a,a:hover,a:before{
    font-weight: 400;
    color: #F47373;  
    }   
}
